h1{
  color: red;
}
.joke{
  height: 250px;
  width: 330px;
  border: 2px solid red;
  background-color: antiquewhite;
  border-radius: 10px; 
  
}
.joke-btn{
  display: flex;
  flex-direction: row;
   justify-content: space-around;
}
.joke-btn button{
   height: 25px;
   border-radius: 5px;
   background-color: aqua;
}